include var.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Construtor
    body 
        header: .container 
            .navigation
                .logo
                    img(src="img/burgerMenu.png" alt="Menu" class="logo-burgerMenu") 
                    h1.logo-title Constructor
                .dropDownMenu 
                    nav: ul
                        for item in menu
                            li: a(href="#")= item
                            
                    .search 
                        img(src="img/search.png" alt="Search" class="search-icon")
                        input(type="text" placeholder="Search Goods...")
                .accout_bag 
                    .accout-content 
                        img(src="img/profile.png")
                        p Account
                    .bag-content
                        img(src="img/bag.png")
                        p Bag